/* viewport units
vh-view height-percent of the screen
vw-view width-percent of the screen*/
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.title{
    background-color: blue;
    height: 100vh;
    width: 50vw;
}
.about{
    background-color: green;
    height: 43vh;
    width: 54vw;
}