/* em-relative, depends on parent*/
/* 1em-16px default browser style*/
/* 1em-base value(16px)*number 1=16px
2em-base value(16px)*number 2=32px
2em-base value(10px)*number 1=16px*/
div{
    font-size: 10px;
}
.absolute{
    font-size: 32px;
}
.relative{
    font-size: 2em;
}
.default{
    font-size: 60em;
}
.nounits{
    font-size: 70em;
}