/* RGB (RED, GREEN, BLUE) 0-255 */
#first{
    color: rgb(255, 0,0);
    background-color: rgb(0,0,0);
}
#second{
    color: rgb(0, 255, 0);
    background-color: rgb(255, 255, 255);
}
#three{
    color: rgb(0, 0, 255);
    background-color: rgb(200, 90, 230);
}
body{
    background-color: rgb(150, 34,210);
}